Package: xyz.henryli17.chromatic
Name: Chromatic
Depends: mobilesubstrate, firmware (>= 13), firmware (<< 14)
Version: 0.0.2
Architecture: iphoneos-arm
Description: Colourfy your iOS 13 music app.
Maintainer: henry
Author: henry
Section: Tweaks
